requests
flask
flask-table
dash # The core dash backend
dash-renderer  # The dash front-end
dash-html-components# HTML components
dash-core-components  # Supercharged components
plotly # Plotly graphing library used in examples
dash-table-experiments
pandas